.App {
  text-align: center;
}

img{
  max-height: 2rem;
  margin: auto;
  border-radius: 15px;
}

.paper-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  margin: 2rem auto;
  padding: 1.5rem;
  align-items: center;
}

.login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}

.register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}