body{
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.header{
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
}

img{
  max-height: 2rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.4);
}

.container{
  width: 95%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.paper-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
  align-items: center;
}

.login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}

.register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3rem auto;
  height: 8.5rem;
}

.nav-link{
  text-decoration: none;
  background-color: whitesmoke;
}

.scanner{
  width: 40%;
  margin: 3rem auto;
}

@media only screen and (max-width: 700px) {
  .paper-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .header{
    width: 100%;
  }
}
